// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
  color: skyblue;
}

li{
  text-decoration:none;
}

.header {
  background: skyblue;
  height: 180px;
  width: 100%;
}

.header__bar {
  font-size: 55px;
  font-family: cursive;
  color: white;
  text-align: center;
}

.name {
  font-size: 20px;
  float: right;
  color: white;
  margin-right: 20px;
}

.nav {
  color: skyblue;
  padding-top: 10px;
  list-style: none;
  display: flex;
  clear: both;
  float: right;
  li {
    font-weight: bold;
    margin: 0 20px 0 15px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 15px;
  }
}

.new_users {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 500px;
}

.new_user {
  margin-top: 10px;
  .field {
    margin: 20px 0;
  }
}

.list_blog {
  list-style: none;
  padding-left: 30px;
  li {
    border-bottom: solid 1px #eee;
  }
  h2 {
    padding: 30px 0;
    font-size: 30px;
  }
  p {
    font-size: 20px;
    padding-bottom: 30px;
  }
}

.time {
  font-size: 15px;
  color: #bdbdbd; 
}

.success {
  margin-left: 500px;
}

.content {
  margin-left: 500px;
}

.form-group {
  padding-bottom: 30px;
}

input#btn {
  display: inline-block;
  border-radius: 20%;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  padding: 10px 30px;
  background: #1a1aff;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 4px 4px 3px #666666;
  border: 2px solid #1a1aff;
}

ul.button {
  font-weight: bold; 
  display: flex;
  padding-bottom: 20px;
  li a {
    color: white;
    padding: 10px 15px 10px 15px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 10px;
  }
}

.edit_blog{
  margin-left: 500px;
}

input.user_name {
  width: 50px;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  font-size: 18pt; 
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: #000066;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #000066;
}

footer {
  padding-top: 100px;
  color: grey;
  p {
    text-align: center;
  }
}

.name span {
  color: blue;
  padding-right: 20px;
}